<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Blog pessoal sobre JavaScript, Node.js, AngularJs, sistemas embarcados e outras cachaças.">
  <meta name="author" content="Alan Hoffmeister <alanhoffmeister@gmail.com>">

  <title>{% block title %}Alan Hoffmeister{% endblock %}</title>

  <link rel="alternate" type="application/rss+xml" title="RSS" href="https://alanhoff.com/rss.xml">

  <!-- Fonts -->
  <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro%3A400%2C400italic%2C700" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">

  <!-- Bootstrap core CSS -->
  <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/css/font-awesome.min.css" rel="stylesheet">
  <link href="/assets/css/bootstrap-social.css" rel="stylesheet">

  <!-- Styles -->
  <link href="/assets/css/main.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  {% block styles %}
  {% endblock %}

</head>


  <body>

    <div id="primary" class="col-sm-12">
      <div class="content">
      <a href="https://github.com/alanhoff/alanhoff.com"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>

        <header class="header">
          <hgroup class="pull-left">
            <h1 class="site-title">
              {% block logo %}
              <a rel="home" title="Alan Hoffmeister" href="/">
                <i class="fa fa-newspaper-o"></i> Alan Hoffmeister
              </a>
              {% endblock %}
            </h1>
          </hgroup>
          <a href="https://alanhoff.com/rss.xml" class="btn btn-primary pull-right">
            <i class="fa fa-rss"></i>
          </a>
        </header> <!-- /header -->

        {% block content %}
        {% endblock %}

        <footer class="footer">
          <p>Conteúdo sob <a href="https://pt.wikipedia.org/wiki/Licen%C3%A7a_ISC">licença ISC</a>. 2014 - Alan Hofmeister</p>
          <div class="socials-footer">
            <a class="btn btn-facebook" href="https://www.facebook.com/alan.hoffmeister" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-twitter" href="https://twitter.com/alan_hoff" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="btn btn-linkedin" href="http://br.linkedin.com/in/alanhoff" title="LinkedIn">
              <i class="fa fa-linkedin"></i>
            </a>
            <a class="btn btn-google-plus" href="https://plus.google.com/+alanhoffmeister" title="Google+">
              <i class="fa fa-google-plus"></i>
            </a>
            <a class="btn btn-github" href="https://github.com/alanhoff" title="GitHub">
              <i class="fa fa-github"></i>
            </a>
            <a class="btn btn-bitbucket" href="https://bitbucket.org/alanhoff" title="Bitbucket">
              <i class="fa fa-bitbucket"></i>
            </a>
          </div> <!-- /.socials-footer -->
        </footer> <!-- /footer -->

      </div>
    </div> <!-- /#primary -->

    <!-- Scripts -->
    <script src="/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}

  </body>
</html>
