{% extends 'layout.html' %}
{% block content %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">Todas as postagens</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  {% for post in collections.posts %}
  {% if loop.index0 >= pagination.start and loop.index0 <= pagination.end %}
  {% if loop.index0 > 0 %}
  <section class="success">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <hr class="star-light">
        </div>
      </div>
    </div>
  </section>
  {% endif %}

  <section class="success" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2><a href="{{ post.path }}">{{ post.title }}</a></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          {{ post.less.toString() }} <a href="{{ post.path }}" class="reverse">Ler artigo completo...</a>
        </div>
      </div>
    </div>
  </section>
  {% endif %}
  {% endfor %}
  {% if pagination %}
  <section class="success" id="about">
    <div class="container text-center">
        {% if pagination.prev and pagination.num > 2 %}
          <a href="/posts-{{ pagination.num - 1 }}.html" class="btn btn-outline">
            <i class="fa fa-angle-left"></i> Página anterior
          </a>
        {% elseif pagination and pagination.num === 2 %}
          <a href="/posts.html" class="btn btn-outline">
            <i class="fa fa-angle-left"></i> Página anterior
          </a>
        {% endif %}
        {% if pagination.next %}
          <a href="/posts-{{ pagination.num + 1 }}.html" class="btn btn-outline">
            Próxima Página <i class="fa fa-angle-right"></i>
          </a>
        {% endif %}
      </div>
    </div>
  </section>
  {% endif %}
{% endblock %}
