{% extends 'layout.html' %}
{% block content %}
  <header>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-text">
            <span class="name">{{ title }}</span>
            <hr class="star-light">
            <span class="skills">Criado por {{author}} em {{date}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section>
    <div class="container">
      {{ contents|safe }}
    </div>
  </section>
  <section class="success">
    <div class="container">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'alanhoffmeister'; // required: replace example with your forum shortname

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
    </div>
  </section>
{% endblock %}
