{% extends 'layout.html' %}
{% block content %}
  {% for post in collections.posts %}
  {% if loop.index0 >= pagination.start and loop.index0 <= pagination.end %}
  <section class="post">
    <header class="entry-header">
      <img class="entry-avatar" alt="Paul Laros" height="52" width="52" src="//www.gravatar.com/avatar/{{ post.gravatar }}.jpg?s=52">
      <h2 class="entry-title"><a href="{{ post.path }}">{{ post.title }}</a></h2>
      <p class="entry-meta">
        Postado em {{ post.date }} | Por <a class="entry-author" href="{{ post.author_url }}">{{ post.author_name }}</a>
      </p>
    </header>
    <div class="entry-description">
      <p>
        {{ post.less.toString() }}
      </p>
    </div>
  </section>
  {% endif %}
  {% endfor %}
  {% if pagination %}
  <div class="comments">
      {% if pagination.prev and pagination.num > 2 %}
        <a href="/posts-{{ pagination.num - 1 }}.html" class="btn btn-outline">
          <i class="fa fa-angle-left"></i> Página anterior
        </a>
      {% elseif pagination and pagination.num === 2 %}
        <a href="/posts.html" class="btn btn-outline">
          <i class="fa fa-angle-left"></i> Página anterior
        </a>
      {% endif %}
      {% if pagination.next %}
        <a href="/posts-{{ pagination.num + 1 }}.html" class="btn btn-outline">
          Próxima Página <i class="fa fa-angle-right"></i>
        </a>
      {% endif %}
  </div>
  {% endif %}
{% endblock %}
